/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

 code[class*="language-"],
 pre[class*="language-"] {
	 color: white;
	 background: none;
	 text-shadow: 0 -.1em .2em black;
	 font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	 font-size: 1em;
	 text-align: left;
	 white-space: pre;
	 word-spacing: normal;
	 word-break: normal;
	 word-wrap: normal;
	 line-height: 1.5;
 
	 -moz-tab-size: 4;
	 -o-tab-size: 4;
	 tab-size: 4;
 
	 -webkit-hyphens: none;
	 -moz-hyphens: none;
	 -ms-hyphens: none;
	 hyphens: none;
 }
 
 @media print {
	 code[class*="language-"],
	 pre[class*="language-"] {
		 text-shadow: none;
	 }
 }
 
 pre[class*="language-"],
 :not(pre) > code[class*="language-"] {
	 background: hsl(30, 20%, 25%);
 }
 
 /* Code blocks */
 pre[class*="language-"] {
	 padding: 1em;
	 margin: .5em 0;
	 overflow: auto;
	 border: .3em solid hsl(30, 20%, 40%);
	 border-radius: .5em;
	 box-shadow: 1px 1px .5em black inset;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
	 padding: .15em .2em .05em;
	 border-radius: .3em;
	 border: .13em solid hsl(30, 20%, 40%);
	 box-shadow: 1px 1px .3em -.1em black inset;
	 white-space: normal;
 }
 
 .token.comment{
	 color: #9ed900;
 }
 .token.prolog,
 .token.doctype,
 .token.cdata {
	 color: hsl(30, 20%, 50%);
 }
 
 .token.punctuation {
	 opacity: .7;
 }
 
 .token.namespace {
	 opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol {
	 color: hsl(350, 40%, 70%);
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
	 color: hsl(75, 70%, 60%);
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
	 color: hsl(40, 90%, 60%);
 }
 
 .token.atrule,
 .token.attr-value,
 .token.keyword {
	 color: hsl(350, 40%, 70%);
 }
 
 .token.regex,
 .token.important {
	 color: #e90;
 }
 
 .token.important,
 .token.bold {
	 font-weight: bold;
 }
 .token.italic {
	 font-style: italic;
 }
 
 .token.entity {
	 cursor: help;
 }
 
 .token.deleted {
	 color: red;
 }
 /* 高亮代码 */
 .token.keyword-auto,
 .token.keyword-const,
 .token.keyword-enum,
 .token.keyword-extern,
 .token.keyword-float,
 .token.keyword-goto,
 .token.keyword-register,
 .token.keyword-short,
 .token.keyword-signed,
 .token.keyword-sizeof,
 .token.keyword-struct,
 .token.keyword-switch,
 .token.keyword-typedef,
 .token.keyword-int,
 .token.keyword-long,
 .token.keyword-double,
 .token.keyword-char,
 .token.keyword-union,
 .token.keyword-unsigned,
 .token.keyword-void,
 .token.keyword-volatile,
 .token.keyword-string{
   color: #CC3399;
 }
 .token.keyword-continue,
 .token.keyword-default,
 .token.keyword-do,
 .token.keyword-break,
 .token.keyword-case,
 .token.keyword-if,
 .token.keyword-else,
 .token.keyword-return,
 .token.keyword-while,
 .token.keyword-for {
	 color: #ffa400;
 }
 .keyword-function {
   color: #66d9ef;
 }
 .token.class-name {
   color: #f5b83d;
 }
 .token.string {
   color: #a6e22e;
 }
 .token.function {
   color: #e6db74;
 }
 .token.number {
   color: #ae81ff;
 }
 .token.keyword.keyword-class,
 .token.keyword.keyword-public,
 .token.keyword.keyword-static,
 .token.keyword.keyword-protected,
 .token.keyword.keyword-private {
   color: #cb602d;
 }